/* estilos que aplican a todos los html */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a img{
    padding-left: 20px;
    height: 100px;
}

header nav ul{
    padding-right: 20px;
    list-style: none;
    display: flex;
    gap: 25px;
}

header nav ul li a{
    color: black;
    font-weight: bolder;
}

main{
    background-color: black;
    color: white;
    text-align: center;
}

footer{
    background-color: black;
    border-top: 1px solid rgb(39, 38, 38);
    color: white;
    text-align: center;
}

/* estilos especificos index.html */

main .contenedor{
   position: relative;
   text-align: center;
}

main div .banner{
    width: 100%;
}

main div .titulo{
    background-color: transparent;
    display: inline-block;
    padding-bottom: 10px;
    border-top: 2px solid white ;
    border-bottom: 2px solid white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main div div .h1-index{
    font-size: 350%;
}

main div div .h2-index{
    font-size: 200%;
    font-style: italic;
    letter-spacing: 7px;
}

main .descripcion{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

main .descripcion p{
    font-size: 150%;
}

/* estilos especificos nosotros.html */

main img{
    width: 100%;
}

main div .h2-nosotros{
    margin: 30px;
    font-size: 250%;
}

main .main-nosotros section{
    margin: 0px 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}

main div section .descripcion-nosotros-1{
    padding: 20px;
    width: 60%;
    text-align: left;
    align-content: center;
}

main div section .descripcion-nosotros-2{
    padding: 20px;
    width: 60%;
    text-align: right;
    align-content: center;
}

/* estilos especificos servicios.html */

main .servicios{
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

main .servicios div fieldset legend{
    font-size: large;
    font-weight: bold;
}

main section .servicios-top{
    display: flex;
    gap: 20px;
}

main section .servicios-bottom{
    display: flex;
    gap: 20px;
}

/* estilos especificos galeria.html */

main .section-galeria{
    padding: 10px 0px;
}

main .section-galeria div{
    padding: 10px 0px;
}

main .section-galeria div fieldset legend{
    margin: 0px 20px;
    text-align: left;
    font-size: larger;
    font-weight: bolder;
}

main .section-galeria div fieldset img{
    margin: 0px;
    display: inline-block;
    width: 33%;
}


/* estilos especificos contacto.html */

main .fondo-contacto{
    width: 100%;
}

main .section-contacto{
    font-size: 60%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

main .section-contacto div img{
    width: 50%;
}

main .section-contacto div p{
    color: white;
    font-size: medium;
}

main .section-formulario div form{
    padding: 30px 200px;
}

main .section-formulario div form fieldset{
    height: 600px;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
}

main .section-formulario div form fieldset legend{
    font-size: 200%;
}

main .section-formulario div form fieldset div{
    display: flex;
    gap: 10px;
    justify-content: center;
}

main section .email p a{
    color: white;
}

/* estilos que aplican a todas las pages menos al index */

main .h1-not-index{
    display: none;
}

