//import
@import "../utilidades/variables";
@import "../utilidades/mixin";

/* estilos especificos del header */

header{
    position: relative;
    z-index: 10;
    background-color: white;
    @include flex-center(space-between);
    a{
        img{
            margin: 0.5rem 1rem;
            height: 5rem;
        }
    }
    nav{
        min-height: 5rem;
        div{
            div{
                div{
                    .nav-link:active{
                        font-weight: bold;
                    }
                    .nav-link:hover{
                        color: $main-color;
                        border-bottom: 2px solid $main-color;
                    }
                }
            }
        }
    }
}