@mixin flex-center($justify: center){
    display: flex;
    justify-content: $justify;
    align-items: center;
}

@mixin standard-colors{
    background-color: $background-color;
    color: $text-color;
}

@mixin standard-img-size{
    width: 100%;
    height: 100vh;
}

@mixin position-absolute ($top: 50%, $left: 50%){
    position: absolute;
    top: $top;
    left: $left;
    transform: translate(-50%, -50%);
}

@mixin position-relative{
    position: relative;
    overflow: hidden;
}

@mixin transition($properties, $duration){
    transition: $properties, $duration;
}