@mixin flex-center($justify: center){
    display: flex;
    justify-content: $justify;
    align-items: center;
}

@mixin display-grid($columns, $rows){
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
}

@mixin standard-colors{
    background-color: $background-color;
    color: $text-color;
}

@mixin standard-img-size{
    width: 100%;
    height: 100vh;
}

@mixin size-variable($width, $height){
    width: $width;
    height: $height;
}

@mixin position-absolute ($top: 50%, $left: 50%, $translate: translate(-50%, -50%)){
    position: absolute;
    top: $top;
    left: $left;
    transform: $translate;
}

@mixin position-relative{
    position: relative;
    overflow: hidden;
}